<div class="container">

<h1>All tools</h1>

<div>
  <ul class="index-list">
    <%@tools.each do |tool| %>
      <li id="card-text"><h2 id="card-title"><%= link_to tool.name, tool_path(tool)%></h2>
        <%= link_to "Remove", tool_path(tool), :class => "btn btn-flat", :method => :delete %></li>
    <%end%>
    </ul>
</div>

<%= link_to "Offer new tool", new_tool_path, :class => "btn btn-flat", :method => :get %>

</div>


