<div class="container">

<h1>All tools</h1>

<div class="container">
    <%@tools.each do |tool| %>
  <div class="cards">
    <div>
      <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill, class: "card-category"%>
      <%= link_to tool.name, tool_path(tool)%>
      <%= link_to "Remove", tool_path(tool), method: :delete %>
    </div>
    <%end%>
  </div>


<%= link_to "Offer new tool", new_tool_path, :class => "btn btn-green", :method => :get %>

</div>


