<div class="container">

<form action="/tools" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group mt-5">
    <input name="utf8" type="hidden" value="✓">
    <input type="text" name="query" id="query" value="" class="form-control string required" placeholder="Find a tool">
    <button type="submit" name="commit" value="Search" class="btn btn-green" data-disable-with="Search">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>


  <div class="d-flex justify-content-between mb-3 mt-5">
    <h1>All tools</h1>
    <div><%= link_to "Offer new tool", new_tool_path, :class => "btn btn-green", :method => :get %>
    </div>
  </div>
  <div class="cards">
    <%@tools.each do |tool| %>
      <% if tool.photo.attached?  %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path tool.photo.key, height: 300, width: 400, crop: :fill%>')">
          <%= link_to tool.name, tool_path(tool), :style => "color: white"%>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
