// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$corale: gray;
$ash-black: #30332E;
$white-smoke: #F7F7F2;
$sea-green: #6BC490;
$light-green: #B3DBC4;
$middle-light-grey: #e6e6e6;
$background-color: white;
$button-font-color: white;




