// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600,700|Asap:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

// Define fonts for body and headers
$body-font: "Asap", "Helvetica", "sans-serif";
$headers-font: "Questrial", "Helvetica", "sans-serif";
$h1: 26px;
$h2: 24px;
$h3: 22px;
$h4: 22px;
$p: 20px;
$button-font-weight: 500;
$button-font-size: 18px;

// makes sense for general padding/margin on a page, button-padding, font size etc.

p, li {
  text-align: justify;
  font-size: $p;
}


p .text-bigger {
  font-size: 22px;
  font-family: $headers-font;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
