

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);">
  <div class="container">
    <h1 id="landing-page">Sharing is caring</h1>
    <p>Lend tools that you don't need regularly. </p>
    <p>Borrow tools you don't own.</p>
    <div class="container btn-banner" style="margin-top: 260px;">
    </div>
    <br>
    <div class="container btn-banner" style="margin-top: 20px;">
      <%= link_to "Overview of Tools", tools_path, class: "btn btn-green text-align" %>
    </div>
    <div class="container btn-banner" style="margin-top: 20px;">
      <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-green text-align" %>
    </div>
  </div>
</div>

