.btn-green {
  color: $white-smoke;
  padding: 8px 24px;
  border-radius: 4px;
  background: $sea-green;
  opacity: 0.9;
  transition: background 0.3s ease;
}

.btn-green:hover {
  opacity: 1.1;
  color: $white-smoke;
}

.btn-corale {
  color: $white-smoke;
  padding: 8px 24px;
  border-radius: 4px;
  background: $corale;
  opacity: 0.9;
  transition: background 0.3s ease;
}

.btn-corale:hover {
  opacity: 1.1;
  color: $white-smoke;
}
